html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #0c122c;
  color: #ffffff;
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.attribution {
  background-color: rebeccapurple;
  text-align: center;
}

.attribution a {
  color: white;
}
.main {
  margin: auto;
  display: flex;
}

.control-panel {
  width: 35rem;
  height: 20rem;
  background-color: #1e2d69;
  border-radius: 1rem 10rem 1rem 1rem;
  box-shadow: 0rem 7.5rem 10rem -3rem rgba(0, 0, 0, 0.24776);
  padding-top: 4rem;
  padding-left: 4rem;
}

.logo-img {
  width: 13.5rem;
  height: 4rem;
}

.actions {
  margin-top: 3.4rem;
}

.action-container {
  position: relative;
  background-color: #0c122c;
  width: 4.8rem;
  height: 4.8rem;
  text-align: center;
  border-radius: 1rem;
  float: left;
  margin-right: 1.6rem;
}

.action-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.document-icon {
  width: 2rem;
  height: 2.4rem;
}

.folder-icon {
  width: 2.4rem;
  height: 2rem;
}

.upload-icon {
  width: 2.4rem;
  height: 1.6rem;
}

.usage-stat {
  width: 54rem;
  height: 15.4rem;
  background-color: #1e2d69;
  border-radius: 1rem;
  box-shadow: 0rem 7.5rem 10rem -3rem rgba(0, 0, 0, 0.24776);
  padding-top: 4rem;
  padding-left: 4rem;
  margin-top: auto;
  margin-left: 3rem;
  position: relative;
}

.usage-text {
  color: #dbd9ff;
  line-height: 1.6rem;
  font-size: 1.4rem;
}

.usage-count {
  font-weight: 700;
}

.usage-bar {
  margin-top: 1.6rem;
  overflow: auto;
  background: rgb(12, 18, 44, 0.5);
  mix-blend-mode: normal;
  border-radius: 10rem;
  width: 45.9rem;
  height: 2rem;
}

.usage-progress {
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  background: linear-gradient(90deg, #ffa197 0%, #ff4a95 100%);
  border-radius: 0.8rem;
  width: 33.9rem;
  height: 1.4rem;
}

.pointer {
  width: 1rem;
  height: 1rem;
  float: right;
  background-color: #ffffff;
  border-radius: 50%;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}

.markers {
  margin-top: 0.8rem;
  width: 45.9rem;
  height: 1.4rem;
}

.empty {
  display: inline-block;
}

.full {
  float: right;
}

.marker {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #dbd9ff;
  text-align: right;
}

.popup {
  width: 18rem;
  height: 9.4rem;
  position: absolute;
  right: 4rem;
  top: -4.7rem;
}

.main-popup {
  width: 18rem;
  height: 7.2rem;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0rem 1rem;
  padding: 1.6rem 2.4rem;
}

.bottom-stick {
  width: 2.3rem;
  height: 2.3rem;
  background-color: #ffffff;
  float: right;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.leftover {
  color: #0c122c;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

.units {
  text-transform: uppercase;
  color: rgb(12, 18, 44, 0.5);
  margin-left: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  float: right;
}
